@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-background: #0e0e0c;
  --dark-foreground: #9e9a93;
  --dark-hover-foreground: #0e0e0c;

  --heading: #d1d1c7;
  --sub-heading: #a19e9a;
  --title: #777169;

  --icon: #403f3a;
  --button-active: #fffee3;
  --border: #3a3733;

  --light-background: #e8e8e3;
  --light-foreground: #3A3733;
}

body {
  color: var(--dark-foreground);
  background-color: var(--dark-background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*
*****
  Navigation bar 
*****
*/
.heading::after {
  content: "TMN";
  color: var(--dark-foreground);
  font-size: 0.8rem;
  position: absolute;
}

.home {
  position: relative;
}
.home::before {
  content: "1";
  color: var(--dark-foreground);
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.home:focus,
.home:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.home:focus::after,
.home:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.home::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

.services {
  position: relative;
}
.services::before {
  content: "2";
  color: var(--dark-foreground);
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.services:focus,
.services:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.services:focus::after,
.services:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.services::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

.digital_box {
  position: relative;
}
.digital_box::before {
  content: "3";
  color: var(--dark-foreground);
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.digital_box:focus,
.digital_box:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.digital_box:focus::after,
.digital_box:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.digital_box::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

.projects {
  position: relative;
}
.projects::before {
  content: "4";
  color: var(--dark-foreground);
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.projects:focus,
.projects:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.projects:focus::after,
.projects:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.projects::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

.about {
  position: relative;
}
.about::before {
  content: "5";
  color: var(--dark-foreground);
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.about:focus,
.about:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.about:focus::after,
.about:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.about::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

.contact {
  position: relative;
}
.contact::before {
  content: "6";
  color: var(--dark-foreground);
  font-size: 1rem;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.contact:focus,
.contact:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.contact:focus::after,
.contact:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

/*
*****
  Hero section
*****
*/
.container_1 {
  position: relative;
}
.container_1::before {
  content: "";
  position: absolute;
  padding: 19px 40px 0px 20px;
  top: 11.5px;
  left: 0;
  background-color: var(--heading);
}
.container_1::after {
  content: "";
  position: absolute;
  padding: 7.5px;
  width: 80%;
  bottom: 11px;
  left: 380px;
  background-color: var(--heading);
}

.container_2 {
  position: relative;
  height: 199px;
}

.sport-car {
  position: absolute;
  bottom: 3px;
  left: 390px;
  font-size: 3vw;
  animation: 10s vrmm ease-in-out infinite;
}
@keyframes vrmm {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.location {
  position: absolute;
  bottom: 0;
  left: 20%;
}

.more {
  transition: 250ms;
}
.more:hover {
  background-color: var(--button-active);
  color: black;
}

/*
*****
  Digital Toolbox section
*****
*/
.digital-heading::after {
  content: "(9)";
  position: absolute;
  top: -50px;
  right: -60px;
  font-size: 6vw;
  color: var(--sub-heading);
}

.hover_effect {
  position: relative;
}
.hover_effect:focus,
.hover_effect:hover {
  color: var(--dark-background);
  transition: 300ms;
}
.hover_effect:focus::after,
.hover_effect:hover::after {
  transform: scaleY(100%);
  height: 100%;
  transition: 300ms;
}
.hover_effect::after {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scaleY(0%);
  background-color: var(--button-active);
  transition-timing-function: ease-in-out;
  transition-duration: 400ms;
  transition-property: height, top;
  z-index: -1;
}

/*
*****
  Project Section
*****
*/
.project-heading::after {
  content: "(4)";
  position: absolute;
  top: -50px;
  right: -40px;
  font-size: 6vw;
  color: var(--sub-heading);
}

/*
*****
  About Section
*****
*/
#about {
  border-radius: 0 0 1rem 1rem;
  animation: zoomout ease-in-out;
  animation-timeline: view();
  animation-range: entry 100% cover 100%;
}
@keyframes zoomout {
  from {
    opacity: 100%;
    scale: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 100%;
    scale: 0.95;
    transform: translateY(-10%);
  }
}

/*
*****
  Footer Section
*****
*/
.footer::after {
  content: "TM";
  position: absolute;
  font-size: 1rem;
}

/*
*****
  Seperator
*****
*/
.section-seperator {
  padding: 0.5px;
  background-color: var(--border);
}

/*
*****
  Animation define
*****
*/

/* spin */
@keyframes spin {
  0% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(12deg);
  }
}
.animate-spin {
  animation: spin 8s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

/* bounce */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%) rotate(12deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: rotate(-12deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 3s infinite;
}

/* shake */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.animate-shake {
  animation: shake 1s infinite;
}
