@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-corner {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #3a17b7;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5a36db;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #1b1428;
} */

/* div.contact {
  @apply grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} */
/* div.projects {
  @apply grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} */

.highlight-text {
  background-color: #f3ec78;
  background-image: linear-gradient(130deg, #8038f5, #14b0ce);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about-me:focus,
.about-me:hover {
    color: black;
}
.about-me:focus::after,
.about-me:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}
.about-me::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.skills:focus,
.skills:hover {
    color: black;
}
.skills:focus::after,
.skills:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}
.skills::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.project:focus,
.project:hover {
    color: black;
}
.project:focus::after,
.project:hover::after {
    width: 100%;
    left: 0%;
    transition: 300ms;
}
.project::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* #stars-1 {
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #020112;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #020112,
    25vw -41vh 0px 0px #020112,
    -20vw 49vh 0px 1px #020112,
    5vw 40vh 1px 1px #020112,
    29vw 19vh 1px 0px #020112,
    -44vw -13vh 0px 0px #020112,
    46vw 41vh 0px 1px #020112,
    -3vw -45vh 0px 1px #020112,
    47vw 35vh 1px 0px #020112,
    12vw -8vh 1px 0px #020112,
    -34vw 48vh 1px 1px #020112,
    32vw 26vh 1px 1px #020112,
    32vw -41vh 1px 1px #020112,
    0vw 37vh 1px 1px #020112,
    34vw -26vh 1px 0px #020112,
    -14vw -49vh 1px 0px #020112,
    -12vw 45vh 0px 1px #020112,
    -44vw -33vh 0px 1px #020112,
    -13vw 41vh 0px 0px #020112,
    -36vw -11vh 0px 1px #020112,
    -23vw -24vh 1px 0px #020112,
    -38vw -27vh 0px 1px #020112,
    16vw -19vh 0px 0px #020112,
    28vw 33vh 1px 0px #020112,
    -49vw -4vh 0px 0px #020112,
    16vw 32vh 0px 1px #020112,
    36vw -18vh 1px 0px #020112,
    -25vw -30vh 1px 0px #020112,
    -23vw 24vh 0px 1px #020112,
    -2vw -35vh 1px 1px #020112,
    -25vw 9vh 0px 0px #020112,
    -15vw -34vh 0px 0px #020112,
    -8vw -19vh 1px 0px #020112,
    -20vw -20vh 1px 1px #020112,
    42vw 50vh 0px 1px #020112,
    -32vw 10vh 1px 0px #020112,
    -23vw -17vh 0px 0px #020112,
    44vw 15vh 1px 0px #020112,
    -40vw 33vh 1px 1px #020112,
    -43vw 8vh 0px 0px #020112,
    -48vw -15vh 1px 1px #020112,
    -24vw 17vh 0px 0px #020112,
    -31vw 50vh 1px 0px #020112,
    36vw -38vh 0px 1px #020112,
    -7vw 48vh 0px 0px #020112,
    15vw -32vh 0px 0px #020112,
    29vw -41vh 0px 0px #020112,
    2vw 37vh 1px 0px #020112,
    7vw -40vh 1px 1px #020112,
    15vw 18vh 0px 0px #020112,
    25vw -13vh 1px 1px #020112,
    -46vw -12vh 1px 1px #020112,
    -18vw 22vh 0px 0px #020112,
    23vw -9vh 1px 0px #020112,
    50vw 12vh 0px 1px #020112,
    45vw 2vh 0px 0px #020112,
    14vw -48vh 1px 0px #020112,
    23vw 43vh 0px 1px #020112,
    -40vw 16vh 1px 1px #020112,
    20vw -31vh 0px 1px #020112,
    -17vw 44vh 1px 1px #020112,
    18vw -45vh 0px 0px #020112,
    33vw -6vh 0px 0px #020112,
    0vw 7vh 0px 1px #020112,
    -10vw -18vh 0px 1px #020112,
    -19vw 5vh 1px 0px #020112,
    1vw 42vh 0px 0px #020112, ư 22vw 48vh 0px 1px #020112,
    39vw -8vh 1px 1px #020112,
    -6vw -42vh 1px 0px #020112,
    -47vw 34vh 0px 0px #020112,
    -46vw 19vh 0px 1px #020112,
    -12vw -32vh 0px 0px #020112,
    -45vw -38vh 0px 1px #020112,
    -28vw 18vh 1px 0px #020112,
    -38vw -46vh 1px 1px #020112,
    49vw -6vh 1px 1px #020112,
    -28vw 18vh 1px 1px #020112,
    10vw -24vh 0px 1px #020112,
    -5vw -11vh 1px 1px #020112,
    33vw -8vh 1px 0px #020112,
    -16vw 17vh 0px 0px #020112,
    18vw 27vh 0px 1px #020112,
    -8vw -10vh 1px 1px #020112;

  box-shadow: 24vw 9vh 1px 0px #020112,
    12vw -24vh 0px 1px #020112,
    -45vw -22vh 0px 0px #020112,
    -37vw -40vh 0px 1px #020112,
    29vw 19vh 0px 1px #020112,
    4vw -8vh 0px 1px #020112,
    -5vw 21vh 1px 1px #020112,
    -27vw 26vh 1px 1px #020112,
    -47vw -3vh 1px 1px #020112,
    -28vw -30vh 0px 1px #020112,
    -43vw -27vh 0px 1px #020112,
    4vw 22vh 1px 1px #020112,
    36vw 23vh 0px 0px #020112,
    -21vw 24vh 1px 1px #020112,
    -16vw 2vh 1px 0px #020112,
    -16vw -6vh 0px 0px #020112,
    5vw 26vh 0px 0px #020112,
    -34vw 41vh 0px 0px #020112,
    1vw 42vh 1px 1px #020112,
    11vw -13vh 1px 1px #020112,
    48vw -8vh 1px 0px #020112,
    22vw -15vh 0px 0px #020112,
    45vw 49vh 0px 0px #020112,
    43vw -27vh 1px 1px #020112,
    20vw -2vh 0px 0px #020112,
    8vw 22vh 0px 1px #020112,
    39vw 48vh 1px 1px #020112,
    -21vw -11vh 0px 1px #020112,
    -40vw 45vh 0px 1px #020112,
    11vw -30vh 1px 0px #020112,
    26vw 30vh 1px 0px #020112,
    45vw -29vh 0px 1px #020112,
    -2vw 18vh 0px 0px #020112,
    -29vw -45vh 1px 0px #020112,
    -7vw -27vh 1px 1px #020112,
    42vw 24vh 0px 0px #020112,
    45vw -48vh 1px 0px #020112,
    -36vw -18vh 0px 0px #020112,
    -44vw 13vh 0px 1px #020112,
    36vw 16vh 0px 1px #020112,
    40vw 24vh 0px 0px #020112,
    18vw 11vh 0px 0px #020112,
    -15vw -23vh 1px 0px #020112,
    -24vw 48vh 0px 1px #020112,
    27vw -45vh 1px 0px #020112,
    -2vw -24vh 0px 1px #020112,
    -15vw -28vh 0px 0px #020112,
    -43vw 13vh 1px 0px #020112,
    7vw 27vh 1px 0px #020112,
    47vw 5vh 0px 0px #020112,
    -45vw 15vh 1px 1px #020112,
    -5vw -28vh 0px 1px #020112,
    38vw 25vh 1px 1px #020112,
    -39vw -1vh 1px 0px #020112,
    5vw 0vh 1px 0px #020112,
    49vw 13vh 0px 0px #020112,
    48vw 10vh 0px 1px #020112,
    19vw -28vh 0px 0px #020112,
    4vw 7vh 0px 0px #020112,
    21vw 21vh 1px 1px #020112,
    -15vw -15vh 0px 1px #020112,
    -6vw -42vh 1px 0px #020112,
    -15vw 48vh 1px 1px #020112,
    -23vw 25vh 1px 1px #020112,
    -48vw 25vh 0px 1px #020112,
    -31vw -19vh 0px 1px #020112,
    4vw 37vh 1px 1px #020112,
    -43vw 28vh 0px 0px #020112,
    3vw -25vh 0px 1px #020112,
    -39vw 14vh 0px 1px #020112,
    -40vw 31vh 0px 1px #020112,
    35vw -36vh 1px 1px #020112,
    16vw 49vh 0px 0px #020112,
    6vw 39vh 0px 0px #020112,
    3vw -35vh 0px 1px #020112,
    -44vw -2vh 1px 0px #020112,
    -6vw 21vh 1px 0px #020112,
    48vw 9vh 1px 1px #020112,
    -43vw 30vh 1px 1px #020112,
    29vw -12vh 1px 1px #020112,
    -48vw 13vh 1px 0px #020112,
    -42vw 32vh 1px 1px #020112,
    34vw 15vh 1px 1px #020112,
    29vw -37vh 1px 1px #020112,
    28vw 2vh 0px 0px #020112;
  animation: zoom-1 150s alternate-reverse infinite;
}

@keyframes zoom-1 {
  0% {
    transform: scale(1) rotate(-30deg);
  }

  100% {
    transform: scale(1.5) rotate(360deg);
  }
}

#stars-2 {
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #020112;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #020112,
    25vw -41vh 0px 0px #020112,
    -20vw 49vh 0px 1px #020112,
    5vw 40vh 1px 1px #020112,
    29vw 19vh 1px 0px #020112,
    -44vw -13vh 0px 0px #020112,
    46vw 41vh 0px 1px #020112,
    -3vw -45vh 0px 1px #020112,
    47vw 35vh 1px 0px #020112,
    12vw -8vh 1px 0px #020112,
    -34vw 48vh 1px 1px #020112,
    32vw 26vh 1px 1px #020112,
    32vw -41vh 1px 1px #020112,
    0vw 37vh 1px 1px #020112,
    34vw -26vh 1px 0px #020112,
    -14vw -49vh 1px 0px #020112,
    -12vw 45vh 0px 1px #020112,
    -44vw -33vh 0px 1px #020112,
    -13vw 41vh 0px 0px #020112,
    -36vw -11vh 0px 1px #020112,
    -23vw -24vh 1px 0px #020112,
    -38vw -27vh 0px 1px #020112,
    16vw -19vh 0px 0px #020112,
    28vw 33vh 1px 0px #020112,
    -49vw -4vh 0px 0px #020112,
    16vw 32vh 0px 1px #020112,
    36vw -18vh 1px 0px #020112,
    -25vw -30vh 1px 0px #020112,
    -23vw 24vh 0px 1px #020112,
    -2vw -35vh 1px 1px #020112,
    -25vw 9vh 0px 0px #020112,
    -15vw -34vh 0px 0px #020112,
    -8vw -19vh 1px 0px #020112,
    -20vw -20vh 1px 1px #020112,
    42vw 50vh 0px 1px #020112,
    -32vw 10vh 1px 0px #020112,
    -23vw -17vh 0px 0px #020112,
    44vw 15vh 1px 0px #020112,
    -40vw 33vh 1px 1px #020112,
    -43vw 8vh 0px 0px #020112,
    -48vw -15vh 1px 1px #020112,
    -24vw 17vh 0px 0px #020112,
    -31vw 50vh 1px 0px #020112,
    36vw -38vh 0px 1px #020112,
    -7vw 48vh 0px 0px #020112,
    15vw -32vh 0px 0px #020112,
    29vw -41vh 0px 0px #020112,
    2vw 37vh 1px 0px #020112,
    7vw -40vh 1px 1px #020112,
    15vw 18vh 0px 0px #020112,
    25vw -13vh 1px 1px #020112,
    -46vw -12vh 1px 1px #020112,
    -18vw 22vh 0px 0px #020112,
    23vw -9vh 1px 0px #020112,
    50vw 12vh 0px 1px #020112,
    45vw 2vh 0px 0px #020112,
    14vw -48vh 1px 0px #020112,
    23vw 43vh 0px 1px #020112,
    -40vw 16vh 1px 1px #020112,
    20vw -31vh 0px 1px #020112,
    -17vw 44vh 1px 1px #020112,
    18vw -45vh 0px 0px #020112,
    33vw -6vh 0px 0px #020112,
    0vw 7vh 0px 1px #020112,
    -10vw -18vh 0px 1px #020112,
    -19vw 5vh 1px 0px #020112,
    1vw 42vh 0px 0px #020112, ư 22vw 48vh 0px 1px #020112,
    39vw -8vh 1px 1px #020112,
    -6vw -42vh 1px 0px #020112,
    -47vw 34vh 0px 0px #020112,
    -46vw 19vh 0px 1px #020112,
    -12vw -32vh 0px 0px #020112,
    -45vw -38vh 0px 1px #020112,
    -28vw 18vh 1px 0px #020112,
    -38vw -46vh 1px 1px #020112,
    49vw -6vh 1px 1px #020112,
    -28vw 18vh 1px 1px #020112,
    10vw -24vh 0px 1px #020112,
    -5vw -11vh 1px 1px #020112,
    33vw -8vh 1px 0px #020112,
    -16vw 17vh 0px 0px #020112,
    18vw 27vh 0px 1px #020112,
    -8vw -10vh 1px 1px #020112;

  box-shadow: 24vw 9vh 1px 0px #020112,
    12vw -24vh 0px 1px #020112,
    -45vw -22vh 0px 0px #020112,
    -37vw -40vh 0px 1px #020112,
    29vw 19vh 0px 1px #020112,
    4vw -8vh 0px 1px #020112,
    -5vw 21vh 1px 1px #020112,
    -27vw 26vh 1px 1px #020112,
    -47vw -3vh 1px 1px #020112,
    -28vw -30vh 0px 1px #020112,
    -43vw -27vh 0px 1px #020112,
    4vw 22vh 1px 1px #020112,
    36vw 23vh 0px 0px #020112,
    -21vw 24vh 1px 1px #020112,
    -16vw 2vh 1px 0px #020112,
    -16vw -6vh 0px 0px #020112,
    5vw 26vh 0px 0px #020112,
    -34vw 41vh 0px 0px #020112,
    1vw 42vh 1px 1px #020112,
    11vw -13vh 1px 1px #020112,
    48vw -8vh 1px 0px #020112,
    22vw -15vh 0px 0px #020112,
    45vw 49vh 0px 0px #020112,
    43vw -27vh 1px 1px #020112,
    20vw -2vh 0px 0px #020112,
    8vw 22vh 0px 1px #020112,
    39vw 48vh 1px 1px #020112,
    -21vw -11vh 0px 1px #020112,
    -40vw 45vh 0px 1px #020112,
    11vw -30vh 1px 0px #020112,
    26vw 30vh 1px 0px #020112,
    45vw -29vh 0px 1px #020112,
    -2vw 18vh 0px 0px #020112,
    -29vw -45vh 1px 0px #020112,
    -7vw -27vh 1px 1px #020112,
    42vw 24vh 0px 0px #020112,
    45vw -48vh 1px 0px #020112,
    -36vw -18vh 0px 0px #020112,
    -44vw 13vh 0px 1px #020112,
    36vw 16vh 0px 1px #020112,
    40vw 24vh 0px 0px #020112,
    18vw 11vh 0px 0px #020112,
    -15vw -23vh 1px 0px #020112,
    -24vw 48vh 0px 1px #020112,
    27vw -45vh 1px 0px #020112,
    -2vw -24vh 0px 1px #020112,
    -15vw -28vh 0px 0px #020112,
    -43vw 13vh 1px 0px #020112,
    7vw 27vh 1px 0px #020112,
    47vw 5vh 0px 0px #020112,
    -45vw 15vh 1px 1px #020112,
    -5vw -28vh 0px 1px #020112,
    38vw 25vh 1px 1px #020112,
    -39vw -1vh 1px 0px #020112,
    5vw 0vh 1px 0px #020112,
    49vw 13vh 0px 0px #020112,
    48vw 10vh 0px 1px #020112,
    19vw -28vh 0px 0px #020112,
    4vw 7vh 0px 0px #020112,
    21vw 21vh 1px 1px #020112,
    -15vw -15vh 0px 1px #020112,
    -6vw -42vh 1px 0px #020112,
    -15vw 48vh 1px 1px #020112,
    -23vw 25vh 1px 1px #020112,
    -48vw 25vh 0px 1px #020112,
    -31vw -19vh 0px 1px #020112,
    4vw 37vh 1px 1px #020112,
    -43vw 28vh 0px 0px #020112,
    3vw -25vh 0px 1px #020112,
    -40vw 31vh 0px 1px #020112,
    -39vw 14vh 0px 1px #020112,
    35vw -36vh 1px 1px #020112,
    3vw -35vh 0px 1px #020112,
    16vw 49vh 0px 0px #020112,
    6vw 39vh 0px 0px #020112,
    -44vw -2vh 1px 0px #020112,
    -6vw 21vh 1px 0px #020112,
    48vw 9vh 1px 1px #020112,
    -43vw 30vh 1px 1px #020112,
    29vw -12vh 1px 1px #020112,
    -48vw 13vh 1px 0px #020112,
    -42vw 32vh 1px 1px #020112,
    34vw 15vh 1px 1px #020112,
    29vw -37vh 1px 1px #020112,
    28vw 2vh 0px 0px #020112;
  animation: zoom-2 80s alternate infinite;
}

@keyframes zoom-2 {
  0% {
    transform: scale(1) rotate(-60deg);
  }

  100% {
    transform: scale(1.2) rotate(-180deg);
  }
}

#stars-3 {
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #020112;
  border-radius: 50%;
  box-shadow: -42vw -4vh 0px 0px #020112,
    25vw -41vh 0px 0px #020112,
    -20vw 49vh 0px 1px #020112,
    5vw 40vh 1px 1px #020112,
    29vw 19vh 1px 0px #020112,
    -44vw -13vh 0px 0px #020112,
    46vw 41vh 0px 1px #020112,
    -3vw -45vh 0px 1px #020112,
    47vw 35vh 1px 0px #020112,
    12vw -8vh 1px 0px #020112,
    -34vw 48vh 1px 1px #020112,
    32vw 26vh 1px 1px #020112,
    32vw -41vh 1px 1px #020112,
    0vw 37vh 1px 1px #020112,
    34vw -26vh 1px 0px #020112,
    -14vw -49vh 1px 0px #020112,
    -12vw 45vh 0px 1px #020112,
    -44vw -33vh 0px 1px #020112,
    -13vw 41vh 0px 0px #020112,
    -36vw -11vh 0px 1px #020112,
    -23vw -24vh 1px 0px #020112,
    -38vw -27vh 0px 1px #020112,
    16vw -19vh 0px 0px #020112,
    28vw 33vh 1px 0px #020112,
    -49vw -4vh 0px 0px #020112,
    16vw 32vh 0px 1px #020112,
    36vw -18vh 1px 0px #020112,
    -25vw -30vh 1px 0px #020112,
    -23vw 24vh 0px 1px #020112,
    -2vw -35vh 1px 1px #020112,
    -25vw 9vh 0px 0px #020112,
    -15vw -34vh 0px 0px #020112,
    -8vw -19vh 1px 0px #020112,
    -20vw -20vh 1px 1px #020112,
    42vw 50vh 0px 1px #020112,
    -32vw 10vh 1px 0px #020112,
    -23vw -17vh 0px 0px #020112,
    44vw 15vh 1px 0px #020112,
    -40vw 33vh 1px 1px #020112,
    -43vw 8vh 0px 0px #020112,
    -48vw -15vh 1px 1px #020112,
    -24vw 17vh 0px 0px #020112,
    -31vw 50vh 1px 0px #020112,
    36vw -38vh 0px 1px #020112,
    -7vw 48vh 0px 0px #020112,
    15vw -32vh 0px 0px #020112,
    29vw -41vh 0px 0px #020112,
    2vw 37vh 1px 0px #020112,
    7vw -40vh 1px 1px #020112,
    15vw 18vh 0px 0px #020112,
    25vw -13vh 1px 1px #020112,
    -46vw -12vh 1px 1px #020112,
    -18vw 22vh 0px 0px #020112,
    23vw -9vh 1px 0px #020112,
    50vw 12vh 0px 1px #020112,
    45vw 2vh 0px 0px #020112,
    14vw -48vh 1px 0px #020112,
    23vw 43vh 0px 1px #020112,
    -40vw 16vh 1px 1px #020112,
    20vw -31vh 0px 1px #020112,
    -17vw 44vh 1px 1px #020112,
    18vw -45vh 0px 0px #020112,
    33vw -6vh 0px 0px #020112,
    0vw 7vh 0px 1px #020112,
    -10vw -18vh 0px 1px #020112,
    -19vw 5vh 1px 0px #020112,
    1vw 42vh 0px 0px #020112, ư 22vw 48vh 0px 1px #020112,
    39vw -8vh 1px 1px #020112,
    -6vw -42vh 1px 0px #020112,
    -47vw 34vh 0px 0px #020112,
    -46vw 19vh 0px 1px #020112,
    -12vw -32vh 0px 0px #020112,
    -45vw -38vh 0px 1px #020112,
    -28vw 18vh 1px 0px #020112,
    -38vw -46vh 1px 1px #020112,
    49vw -6vh 1px 1px #020112,
    -28vw 18vh 1px 1px #020112,
    10vw -24vh 0px 1px #020112,
    -5vw -11vh 1px 1px #020112,
    33vw -8vh 1px 0px #020112,
    -16vw 17vh 0px 0px #020112,
    18vw 27vh 0px 1px #020112,
    -8vw -10vh 1px 1px #020112;

  box-shadow: 24vw 9vh 1px 0px #020112,
    12vw -24vh 0px 1px #020112,
    -45vw -22vh 0px 0px #020112,
    -37vw -40vh 0px 1px #020112,
    29vw 19vh 0px 1px #020112,
    4vw -8vh 0px 1px #020112,
    -5vw 21vh 1px 1px #020112,
    -27vw 26vh 1px 1px #020112,
    -47vw -3vh 1px 1px #020112,
    -28vw -30vh 0px 1px #020112,
    -43vw -27vh 0px 1px #020112,
    4vw 22vh 1px 1px #020112,
    36vw 23vh 0px 0px #020112,
    -21vw 24vh 1px 1px #020112,
    -16vw 2vh 1px 0px #020112,
    -16vw -6vh 0px 0px #020112,
    5vw 26vh 0px 0px #020112,
    -34vw 41vh 0px 0px #020112,
    1vw 42vh 1px 1px #020112,
    11vw -13vh 1px 1px #020112,
    48vw -8vh 1px 0px #020112,
    22vw -15vh 0px 0px #020112,
    45vw 49vh 0px 0px #020112,
    43vw -27vh 1px 1px #020112,
    20vw -2vh 0px 0px #020112,
    8vw 22vh 0px 1px #020112,
    39vw 48vh 1px 1px #020112,
    -21vw -11vh 0px 1px #020112,
    -40vw 45vh 0px 1px #020112,
    11vw -30vh 1px 0px #020112,
    26vw 30vh 1px 0px #020112,
    45vw -29vh 0px 1px #020112,
    -2vw 18vh 0px 0px #020112,
    -29vw -45vh 1px 0px #020112,
    -7vw -27vh 1px 1px #020112,
    42vw 24vh 0px 0px #020112,
    45vw -48vh 1px 0px #020112,
    -36vw -18vh 0px 0px #020112,
    -44vw 13vh 0px 1px #020112,
    36vw 16vh 0px 1px #020112,
    40vw 24vh 0px 0px #020112,
    18vw 11vh 0px 0px #020112,
    -15vw -23vh 1px 0px #020112,
    -24vw 48vh 0px 1px #020112,
    27vw -45vh 1px 0px #020112,
    -2vw -24vh 0px 1px #020112,
    -15vw -28vh 0px 0px #020112,
    -43vw 13vh 1px 0px #020112,
    7vw 27vh 1px 0px #020112,
    47vw 5vh 0px 0px #020112,
    -45vw 15vh 1px 1px #020112,
    -5vw -28vh 0px 1px #020112,
    38vw 25vh 1px 1px #020112,
    -39vw -1vh 1px 0px #020112,
    5vw 0vh 1px 0px #020112,
    49vw 13vh 0px 0px #020112,
    48vw 10vh 0px 1px #020112,
    19vw -28vh 0px 0px #020112,
    4vw 7vh 0px 0px #020112,
    21vw 21vh 1px 1px #020112,
    -15vw -15vh 0px 1px #020112,
    -6vw -42vh 1px 0px #020112,
    -15vw 48vh 1px 1px #020112,
    -23vw 25vh 1px 1px #020112,
    -48vw 25vh 0px 1px #020112,
    -31vw -19vh 0px 1px #020112,
    4vw 37vh 1px 1px #020112,
    -43vw 28vh 0px 0px #020112,
    3vw -25vh 0px 1px #020112,
    -40vw 31vh 0px 1px #020112,
    -39vw 14vh 0px 1px #020112,
    35vw -36vh 1px 1px #020112,
    3vw -35vh 0px 1px #020112,
    16vw 49vh 0px 0px #020112,
    6vw 39vh 0px 0px #020112,
    -44vw -2vh 1px 0px #020112,
    -6vw 21vh 1px 0px #020112,
    48vw 9vh 1px 1px #020112,
    -43vw 30vh 1px 1px #020112,
    29vw -12vh 1px 1px #020112,
    -48vw 13vh 1px 0px #020112,
    -42vw 32vh 1px 1px #020112,
    34vw 15vh 1px 1px #020112,
    29vw -37vh 1px 1px #020112,
    28vw 2vh 0px 0px #020112;
  animation: zoom-3 20s alternate infinite;
}

@keyframes zoom-3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
} */