@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
}

header {
  background-color: #F9F1E6;
  min-height: 80vh;
}

.nav-bar {
  display: flex;
  gap: 0rem;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.main-logo {
  display: flex;
  gap: 0.7rem;
  text-decoration: none;
  align-items: center;
}

.img-logo {
  width: 68px;
  height: 54px;
}

.text-logo {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #3A3A3A;
}

.inside-menu {
  display: flex;
  gap: 0.5rem;
}

form {
  display: flex;
  align-items: center;
  padding: 10px 475px 10px 10px;
  gap: 1rem;
  background-color: white;
}

.search-bar input {
  border: none;
  outline: none;
}

.nav-product,
.nav-room,
.nav-inspiration {
  display: flex;
  gap: 0.5rem;
}

.user-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-menu a {
  text-decoration: none;
}