@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

header {
  min-height: 80vh;
  background: linear-gradient(
    to right,
    #F9F1E6 0%,
    #F9F1E6 70%,
    #FCF8F3 50%,
    #FCF8F3 100%
  );
}

.nav-bar {
  display: flex;
  gap: 0rem;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.main-logo {
  display: flex;
  gap: 0.7rem;
  text-decoration: none;
  align-items: center;
}

.img-logo {
  width: 68px;
  height: 54px;
}

.text-logo {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #3A3A3A;
}

.inside-menu {
  display: flex;
  gap: 0.5rem;
}

form {
  display: flex;
  align-items: center;
  padding: 10px 475px 10px 20px;
  gap: 1rem;
  background-color: white;
}

.search-bar input {
  border: none;
  outline: none;
}

.nav-product,
.nav-room,
.nav-inspiration {
  display: flex;
  gap: 0.5rem;
}

.user-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-menu a {
  text-decoration: none;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 3rem;
  width: 494px;
  height: 553px;
  top: 72%;
  left: 32%;
  transform: translate(-100%, -100%);
  overflow-y: hidden;
}

.hero-intro h2 {
  font-size: 3.5rem;
  color: #3A3A3A;
}

.hero-intro p {
  width: 85%;
  color: #898989;
  font-size: 1.25rem;
}

.shop-now {
  /* margin-top: 40px; */
  text-decoration: none;
  color: white;
  background-color: #E89F71;
  padding: 25px;
  text-align: center;
}

.slide-picture {
  display: flex;
  gap: 2.125rem;
  margin-top: 90px;
}

.slide-picture img {
  width: 830.163px;
  height: 553px;
  object-fit: cover;
}