@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
    --primary: #274C5B;
    --text: #7EB693;
    --box-color: #274C5B;
    --background: #f1eff0;
    --lightgray: #F9F8F8;
    --lightgreen: #EFF6F1;
    --darkgray: #525C60;
    --yellow: #ebd073;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

    /*TODO Navigation bar */

.header {
    display: flex;
    padding: 20px 0px 20px 0px;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
}

.text-logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2.365rem;
}

.nav-link {
    display: flex;
    gap: 2.8rem;
}

.nav-link a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 700;
}

.Pages {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.right-header {
    display: flex;
    gap: 1rem;
}

.search-bar {
    display: flex;
    background-color: var(--lightgray);
    border-radius: 30px 30px 30px 30px;
    padding-left: 2rem;
    padding-right: 0.2rem;
}

.search-bar input {
    background-color: var(--lightgray);
    border: none;
    outline: none;
    font-weight: 600;
    color: var(--primary);
}

.cart {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    border: 1px solid #E0E0E0;
    border-radius: 30px 30px 30px 30px;
    padding-left: 0.2rem;
    padding-right: 2rem;
}

.cart p {
    color: var(--primary);
    font-weight: 700;
}



    /*TODO Hero */

.hero {
    min-height: 100vh;
    background-color: var(--background);
}

.hero-section {
    display: flex;
    justify-content: end;
    align-items: center;
}

.banner-left {
    width: 26.9%;

}

.banner-left span {
    font-family: 'Yellowtail', cursive;
    color: var(--text);
    font-weight: 400;
    font-size: 2rem;
}

.banner-left h2 {
    color: var(--primary);
    font-weight: 700;
    font-size: 4rem;
}

.banner-left a {
    display: flex;
    gap: 0.8rem;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    background-color: var(--yellow);
    width: fit-content;
    padding: 28px 39px;
    border-radius: 16px;
}

.banner-right {
    background: url(/public/Photo.png) var(--background) 50% / contain no-repeat;
    background-blend-mode: multiply;
    width: 1000px;
    height: 833px;
    margin-left: 5rem;
}

.onion {
    position: absolute;
    top: 28%;
    left: 7%;
    transform: translate(-50%, -50%);
}
.leaf {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.strarberry {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.leaf2 {
    position: absolute;
    top: 25%;
    right: 0%;
    transform: translate(-50%, -50%);
}


    /*TODO Sale */

.sale {
    padding-top: 150px;
    padding-bottom: 150px;
}

.sale-parent {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.sale-card-1 {
    background: url(/public/juice.png) 50% / cover no-repeat;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
}

.sale-card-1 h3 {
    color: var(--lightgray);
    margin-left: 50px;
    font-size: 2.5rem;
}

.sale-card-1 span {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    color: var(--lightgray);
    font-size: 2.25rem;
}

.sale-card-2 {
    background: url(/public/fruit.png) 10% / cover no-repeat;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
}

.sale-card-2 h3 {
    margin-left: 50px;
    font-size: 2.5rem;
    color: var(--primary);
}

.sale-card-2 span {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--text);
}

    /*TODO About Us */

.about-us {
    min-height: 100vh;
    background-color: var(--lightgray);
}

.about-us-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-right {
    width: 32%;
}

.about-us-right-heading {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--text);
    margin-bottom: -40px;
}

.about-us-right-banner {
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--primary);
    margin-bottom: -5px;
}

.about-us-right-para {
    font-size: 1rem;
    color: var(--darkgray);
    margin-bottom: 50px;
}

.organik-food {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.organik-food-child-1 {
    background-color: white;
    padding: 15px;
    border-radius: 16px;
}

.organik-food img {
    width: 46px;
    height: 46px;
}

.organik-food-child-2 h4 {
    font-size: 1.5625rem;
    color: var(--primary);
    margin-top: 15px;
    margin-bottom: -10px;
}

.organik-food-child-2 p {
    width: 80%;
    font-size: 0.9rem;
}

.quality-standard {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}

.quality-standard-child-1 {
    background-color: white;
    padding: 15px;
    border-radius: 16px;
}

.quality-standard img {
    width: 46px;
    height: 46px;
}

.quality-standard-child-2 h4 {
    font-size: 1.5625rem;
    color: var(--primary);
    margin-top: 15px;
    margin-bottom: -10px;
}

.quality-standard-child-2 p {
    width: 80%;
    font-size: 0.9rem;
}

.shop-now {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: var(--lightgray);
    width: fit-content;
    padding: 28px 39px;
    background-color: var(--primary);
    border-radius: 16px;
}

    /*TODO categories */

.categories {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.categories-heading h3 {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--text);
    margin-bottom: -40px;
}

.categories-heading p {
    text-align: center;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--primary);
    margin-bottom: 30px;
}

.categories-body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.25rem ;
}

.item-1 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-2 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-3 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-4 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-5 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-6 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-7 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.item-8 {
    background-color: var(--lightgray);
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}

.sort-item {
    font-size: 1rem;
    font-weight: 600;
    color: var(--lightgray);
    width: fit-content;
    padding: 10px 15px;
    background-color: var(--primary);
    border-radius: 8px;
}

.item-img {
    width: 335px;
    height: 324px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.product-name {
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: 600;
}

.price-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    display: flex;
    gap: 0.5rem;
}

.old-price {
    text-decoration: line-through;
    color: var(--darkgray);
}
.new-price {
    font-weight: 700;
    color: var(--primary);
}

.load-more-parent {
    display: flex;
    justify-content: center;
}

.load-more-child {
    display: flex;
    align-self: center;
    margin-top: 122px;
    width: fit-content;
    padding: 28px 39px;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--lightgray);
    border-radius: 16px;
}

    /*TODO Testtimonial */

.testimonial {
    min-height: 100vh;
    background-color: var(--lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

/* .side-img {
    display: flex;
    gap: 65rem;
    margin-left: -1000px;
}

.side-img-1 {
    object-fit: cover;
    width: 1456.986px;
    height: 1300px;
}

.side-img-2 {
    object-fit: cover;
    width: 1456.986px;
    height: 1300px;
} */

.testimonial-heading h3 {
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--text);
    margin-bottom: -40px;
}

.testimonial-heading p {
    text-align: center;
    font-weight: 700;
    font-size: 3.125rem;
    color: var(--primary);
    margin-bottom: 30px;
}

.profile {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.profile img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}

.customer-rate {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.customer-rate img {
    width: 122.275px;
    height: 26.749px;
}

.review {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.review p {
    width: 70%;
    text-align: center;
    font-weight: 400;
    color: var(--darkgray);
}

.customer-name {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.customer-name p {
    font-weight: 600;
    font-size: 1.5625rem;
    color: var(--primary);
}

.customer-role {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.customer-role p {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--primary);
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 150px;
}

.stat-value {
    margin-top: 150px;
    display: flex;
    gap: 3.875rem;
    justify-content: center;
}

.stat {
    display: flex;
    background: url(/public/Chart.svg);
    width: 211px;
    height: 211px;
    align-items: center;
    justify-content: center;
}

.stat-name {
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
}

.stat-name span {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
}

    /*TODO Offer */

.offer {
    min-height: 100vh;
    background-color: var(--box-color);
    display: flex;
    justify-content: center;
    align-items: center;
}



.offer-parent-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 170px;
    padding-right: 170px;
}

.offer-heading h3 {
    font-family: 'Yellowtail', cursive;
    color: var(--text);
    font-weight: 400;
    font-size: 2.25rem;
    margin-bottom: -40px;
}

.offer-heading  p {
    color: var(--lightgray);
    font-weight: 700;
    font-size: 3.125rem;
}

.view-product {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: var(--primary);
    padding: 28px 39px;
    background-color: var(--yellow);
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 16px;
}

.offer-parent-body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}




