@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background-color: #fdf3e5;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #504a43;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #686057;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/*! COFFEE SHOP HEAD */
/*TODO LEFT NAVIGATION BAR */
.navigation-bar {
    display: flex;
    position: fixed;
    gap: 10rem;
    z-index: 1;
    width: 100%;
    padding: 1em;
    background-color: #f2ede0;
    align-items: center;
}
header ul {
    list-style: none;
}
header li {
    float: left;
    margin-right: 3em;
}
header li a {
    font-weight: 500;
    color: #504a43;
    text-decoration: none;
    transition: 400ms;
}
.nav-home::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 3%;
    width: 3.8%;
    height: 2px;
    background-color: #504a43;
}
/* nav-about */
.nav-about:focus::after,
.nav-about:hover::after {
    width: 4.9%;
    left: 16.5%;
}
.nav-about::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 16.5%;
    width: 0%;
    height: 2px;
    background-color: #504a43;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
/* nav-contact */
.nav-contact:focus::after,
.nav-contact:hover::after {
    width: 2.9%;
    left: 23.9%;
}
.nav-contact::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 23.9%;
    width: 0%;
    height: 2px;
    background-color: #504a43;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}


.home-dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.home-dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f121c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.home-dropdown-content a {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 0.8rem;
}
/* Change color of dropdown links on hover */
.home-dropdown-content a:hover {
    background-color: #f1f1f1;
}
/* Show the dropdown menu on hover */
.home-dropdown:hover .home-dropdown-content {
    display: block;
}
/*TODO CENTER NAVIGATION BAR */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navigation-bar h1 {
    font-size: 1rem;
    text-transform: uppercase;
}
.navigation-bar img {
    width: 5%;
}
/*TODO RIGHT NAVIGATION BAR */
.search-shop-signup-child {
    display: flex;
    gap: 3rem;
    flex-wrap: nowrap;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
.shop {
    font-weight: 500;
    color: #504a43;
    text-decoration: none;
    transition: 250ms;
}
.shop-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.shop-dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f121c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.shop-dropdown-content a {
    display: block;
    color: white;
    padding: 12px 16px;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;
}

/* Change color of dropdown links on hover */
.shop-dropdown-content a:hover {
    background-color: #f1f1f1;
    font-weight: 500;
    color: #504a43;
    transition: 250ms;
    
}

/* Show the dropdown menu on hover */
.shop-dropdown:hover .shop-dropdown-content {
    display: block;
}
.location {
    font-weight: 500;
    color: #504a43;
    text-decoration: none;
    transition: 250ms;
}
.location:focus::after,
.location:hover::after {
    width: 2%;
    left: 80.4%;
}
.location::after {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 80.4%;
    width: 0%;
    height: 2px;
    background-color: #504a43;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.signup {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #504a43;
    cursor: pointer;
    transition-duration: 400ms;
    transition-property: color;
}
.signup:focus,
.signup:hover {
    color: #e4594d;
}
.signup:focus::after,
.signup:hover::after {
    width: 0%;
    left: 85%;
}
.signup::after {
    content: "";
    position: absolute;
    pointer-events: none;
    bottom: 35px;
    left: 84.9%;
    width: 3%;
    height: 2px;
    background-color: #e4594d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.login {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #504a43;
    cursor: pointer;
    transition-duration: 400ms;
    transition-property: color;
}
.login:focus,
.login:hover {
    color: #e4594d;
}
.login:focus::after,
.login:hover::after {
    width: 0%;
    left: 90.5%;
}
.login::after {
    content: "";
    position: absolute;
    pointer-events: none;
    bottom: 35px;
    left: 90.5%;
    width: 4.3%;
    height: 2px;
    background-color: #e4594d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*! COFFEE SHOP SECTION */

.master-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 5em;
    padding-left: 3em;
    padding-right: 3em;
    gap: 5rem;
    background-color: #f2ede0;
    align-items: center;
    justify-content: center;
}
.master-coffee {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 600;
    width: 100%;
}
.master-section-para {
    width: 100%;
    min-width: 100%;
    color: #6e6e6e;
    font-size: 1.1rem;
    margin-bottom: 40px;
}
.discorver-us {
    text-decoration: underline;
    color: #504a43;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
}
.discorver-us i {
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #e4594d;
    transform: rotate(-40deg);
    transition: 250ms;
}
.discorver-us:hover i {
    transform: rotate(0deg);
}
.video {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 3em;
    background-color: #f2ede0;
}
.quality-top-para {
    text-align: center;
    font-size: 2.8rem;
}
.quality-next-para {
    text-align: center;
    font-size: 1.05rem;
    color: #686057;
}
.quality-card {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
}
.quality-items {
    text-decoration: none;
    color: black;
    padding: 4em 3em;
    transition: 250ms;
    text-align: center;
}
.separater {
    padding: 100px 0.5px;
    background-color: rgb(177, 177, 177);
}
.quality-items:hover {
    color: white;
    background-color: #e4594d;
}
.glass-coffee {
    padding: 3em;
    margin-top: 30px;
}
.glass-parent {
    width: 100%;
    max-width: 50%;
}
.glass-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}
.glass-img-parent {
    width: 100%;
    max-width: 37%;
}
.glass-img-parent::after {
    content: "Chỉ có những hạt cà phê nguyên chất";
    display: block;
    position: absolute;
    left: 32%;
    margin-top: -277px;
    padding: 80px;
    width: 13%;
    background-color: #efae54;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}
.glass-img {
    width: 90%;
}
.glass-para-1 {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: -40px;
}
.glass-para-2 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 40px;
}
.glass-para-3 {
    font-size: 1rem;
    color: #6e6e7c;
    margin-bottom: 60px;
}
.glass-para-4 {
    font-size: 1.7rem;
    font-weight: 500;
}
.glass-para-5 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 60px;
}
.glass-buynow {
    padding: 1em 3em;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    background-color: #e4594d;
    border: 1px solid #e4594d;
    transition: 250ms;
}
.glass-buynow:hover {
    color: #504a43;
    background-color: transparent;
    border: 1px solid #e4594d;
}
.leaf-1 {
    position: absolute;
    top: auto;
    left: 100%;
    transform: translate(-100%, -40%);
}
.product {
    padding: 3em;
}
.product-heading {
    text-align: center;
}
.section-top-para {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #686057;
    margin-bottom: -40px;
}
.section-next-para {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: -40px;
}
.product-card {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: 250ms;
}
.product-card::-webkit-scrollbar {
    display: none;
    height: 0.2em;
}
.product-card:hover::-webkit-scrollbar {
    display: block;
}
.product-card::-webkit-scrollbar-track {
    background-color: transparent;
}
.product-card::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
}
.product-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5em;
}
.product-items img {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}
.product-items a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1.05rem;
    transition: 250ms;
}
.product-items a:hover {
    transform: scale(1.1);
}
.product-items p {
    text-align: center;
}
.honor {
    padding: 3em;
}
.honor-row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 100px;
    justify-content: center;
}
.honor-heading {
    width: 100%;
    max-width: 30%;
}
.honor-column-heading {
    width: 100%;
    max-width: 35%;
}
.honor-heading-1 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #686057;
    margin-bottom: -40px;
}
.honor-heading-2 {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: -40px;
}
.honor-column-award {
    width: 100%;
    max-width: 60%;
}
.award-para-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 4.4rem; */
}
.find-more {
    margin-top: 21px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}
.find-more i {
    margin-left: 10px;
    transition: 250ms ease;
}
.find-more:hover i {
    transform: translateX(40%);
}
.award-table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;
}
.award-table-column {
    width: 100%;
    max-width: 40%;
}
.award-heading {
    font-weight: bold;
    font-size: 1.3rem;
}
.award-sub-heading {
    opacity: 50%;
    font-weight: 500;
}
.award-para {
    line-height: 1.6;
    font-weight: 400;
    opacity: 90%;
}
.leaf-2 {
    position: absolute;
    top: auto;
    left: 6%;
    transform: scaleX(-1) scale(1.5) translate(10%, -45%);
}
.section-4 {
    padding-bottom: 3em;
    background-color: #f2ede0;
}
.exquisite {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 200px;
    background-color: #f2ede0;
}
.exquisite img {
    position: relative;
    left: -15%;
    transform: translate(0%, -10%);
    width: 65%;
}
.exquisite-row {
    margin-top: 100px;
    margin-left: -100px;
}
.exquisite-column-heading {
    width: 100%;
    max-width: 100%;
}
.exquisite-column-heading-1 {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #686057;
    margin-bottom: -40px;
}
.exquisite-column-heading-2 {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 30px;
}
.exquisite-column-heading-3 {
    opacity: 80%;
}
.exquisite-subrc-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.exquisite-subrc-heading {
    font-weight: 500;
    font-size: 2.8rem;
}
.exquisite-subrc-input-form-input form input {
    font-size: 1.1rem;
    padding-bottom: 10px;
    padding-right: 400px;
    border: none;
    background-color: transparent;
}
.exquisite-subrc-input-form-input form input:focus {
    outline-style: none;
}
.exquisite-subrc-input-form-checkbox form {
    font-size: 0.9rem;
}
.policy {
    text-decoration: none;
    color: #e4594d;
}
.policy:hover {
    text-decoration: underline;
}
.exquisite-subrc-subcribe a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: #504a43;
}
.exquisite-subrc-subcribe a i {
    margin-right: 10px;
    transition: 250ms;
}
.exquisite-subrc-subcribe a:hover i {
    transform: rotate(15deg);
}

.infinite-scroll {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.exquisite-row {
    display: flex;
}
.scroll {
    white-space: nowrap;
    margin: 0 2em;
}
.scroll div {
    display: flex;
    gap: 2rem;
}
.scroll p {
    text-transform: uppercase;
    font-size: 2.1em;
    font-style: italic;
    color: black;
    font-weight: bold;
}
.scroll img {
    width: 1.5%;
}
.RightToLeft {
    animation: RightToLeft 40s infinite linear;
}
@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.job {
    padding: 8em;
}
.job-top-para {
    text-align: center;
    font-size: 2.8rem;
}
.job-next-para {
    text-align: center;
    font-size: 1.05rem;
    color: #686057;
}
.job-card {
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10em;
}
.job-items {
    text-decoration: none;
    color: black;
    padding: 4em 3em;
    border: 1px solid #a3a3a3;
    transition: 250ms;
    text-align: center;
}
.job-items:hover {
    border: 1px solid white;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}
.view-our-services-button {
    margin-top: 6em;
    padding: 25px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.view-our-services {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    background-color: #504a43;
    transition: 250ms;
}
.view-our-services:hover {
    color: #504a43;
    background-color: transparent;
    border: 1px solid #504a43;
}

/*! COFFEE SHOP FOOTER */
.footer {
    padding: 3em;
    background-color: #0f121c;
}
.footer-parent {
    width: 100%;
}
.footer-heading {
    display: flex;
    align-items: center;
}
.footer-heading img {
    width: 10%;
    margin-right: 10px;
}
.footer-heading p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.footer-row-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}
.footer-navigation-bar-ul {
    list-style: none;
}
.footer-navigation-bar-li {
    float: left;
    margin-right: 2em;
}
.footer-navigation-bar-li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    opacity: 90%;
    transition-duration: 400ms;
}
.footer-home:focus::after,
.footer-home:hover::after {
    width: 3.9%;
    left: 55.7%;
}
.footer-home::after {
    content: "";
    position: absolute;
    bottom: -5992px;
    left: 55.7%;
    width: 0%;
    height: 2px;
    background-color: #f2ede0;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.footer-product:focus::after,
.footer-product:hover::after {
    width: 3.9%;
    left: 61.2%;
}
.footer-product::after {
    content: "";
    position: absolute;
    bottom: -5992px;
    left: 61.2%;
    width: 0%;
    height: 2px;
    background-color: #f2ede0;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.footer-about:focus::after,
.footer-about:hover::after {
    width: 4.9%;
    left: 66.7%;
}
.footer-about::after {
    content: "";
    position: absolute;
    bottom: -5992px;
    left: 66.7%;
    width: 0%;
    height: 2px;
    background-color: #f2ede0;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.footer-contact:focus::after,
.footer-contact:hover::after {
    width: 2.8%;
    left: 73.3%;
}
.footer-contact::after {
    content: "";
    position: absolute;
    bottom: -5992px;
    left: 73.3%;
    width: 0%;
    height: 2px;
    background-color: #f2ede0;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
.footer-shop:focus::after,
.footer-shop:hover::after {
    width: 3.7%;
    left: 77.8%;
}
.footer-shop::after {
    content: "";
    position: absolute;
    bottom: -5992px;
    left: 77.8%;
    width: 0%;
    height: 2px;
    background-color: #f2ede0;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.footer-row-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 21rem;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.footer-address p {
    color: white;
    opacity: 90%;
}
.footer-contact {
    display: flex;
    flex-direction: column;
}
.phone-number {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: -80px;
    line-height: 7rem;
}
.mail {
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 90%;
}
.mail:hover {
    text-decoration: underline;
}
.footer-get-update {
    display: flex;
    flex-direction: column;
}
.footer-get-update p {
    color: white;
    opacity: 90%;
}
.footer-get-update a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
}

.community {
    display: flex;
    margin-right: 15px;
}
#community-icon-face {
    margin-right: 30px;
    transition: 300ms;
}
#community-icon-face:hover {
    transform: scale(1.4);
}
#community-icon-insta {
    margin-right: 30px;
    transition: 300ms;
}
#community-icon-insta:hover {
    transform: scale(1.4);
}
#community-icon-youtube {
    margin-right: 30px;
    transition: 300ms;
}
#community-icon-youtube:hover {
    transform: scale(1.4);
}
.contact-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50rem;
    margin-top: 50px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    background-color: #0f121c;
}

.contact-column p {
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    cursor: default;
    opacity: 90%;
}
.contact-column a {
    margin-left: 30px;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

@media screen and (max-Width: 1800px) {

}

