@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #b98d58;
    --text-color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.navigation-bar {
    display: flex;
    background-color: transparent;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.navigation-bar h1 {
    color: var(--text-color);
}
.navigation-bar img {
    width: 3%;
    margin-right: 10px;
}
header ul {
    list-style: none;
    margin-left: 40px;
}
header li {
    float: left;
    margin-right: 50px;
}

header li a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: 250ms;
}

header li a:hover {
    color: var(--main-color);
}
.search-shop-signup-child {
    display: flex;
    gap: 2rem;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
.signup {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 15px 30px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    transition: 250ms;
    cursor: pointer;
}
.signup:hover {
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.header-content {
    padding: 8em;
}
.header-content-container {
    width: 100%;
    max-width: 80%;
}
.header-content-row {
    width: 60%;
    margin-left: 32%;
}
.header-content-column h2 {
    text-align: center;
    color: var(--text-color);
}

.next-prev-button {
    display: flex;
    flex-direction: row;
    gap: 105rem;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}
.next-prev-child-left {
    padding: 10px 20px;
    transition: 250ms;
    cursor: pointer;
    border: 1px solid #b98d58;
}
.next-prev-child-left:hover {
    padding: 10px 20px;
    background-color: #b98d58;
}
.next-prev-child-right {
    padding: 10px 20px;
    transition: 250ms;
    cursor: pointer;
    border: 1px solid #b98d58;
}
.next-prev-child-right:hover {
    padding: 10px 20px;
    background-color: #b98d58;
}

.section-1 {
    margin-top: 190px;
    padding: 8em;
}
.section-top-para {
    text-align: center;
    font-size: 1.1rem;
    color: #b98d58;
}
.section-next-para {
    text-align: center;
    font-size: 2.8rem;
}
.section-row {
    display: flex;
    gap: 10rem;
    padding: 5rem;
    max-width: 100%;
    justify-content: center;    
}
.section-column-1 {
    display: flex;
    flex-direction: row;
}
.img-2 {
    width: 100%;
}
.section-column-2 {
    width: 100%;
    max-width: 35%;
}
.para-heading {
    font-size: 1.8rem;
}
.para-content {
    font-size: 1rem;
    opacity: 80%;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.under-para-content-link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #b98d58;
    color: white;
    background-color: #b98d58;
    transition: 250ms;
}
.under-para-content-link:hover {
    color: #b98d58;
    background-color: transparent;
    border: 1px solid #b98d58;
}

.section-2 {
    padding: 3em;
    background-color: #fff5e8;
}
.product-card {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;

}
.product-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.product-items a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: -10px;
    transition: 250ms;
}
.product-items a:hover {
    opacity: 80%;
}
.product-items img {
    padding: 1em;
    background-color: white;
}

.section-3 {
    padding: 3em;
    background-color: white;
}
.services-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    margin-top: 9em;
}
.services-items {
    text-decoration: none;
    text-align: center;
    color: #000000;
    padding: 4em 3em;
    border: 1px solid #a3a3a3;
    transition: 250ms;
}
.services-items:hover {
    border: 1px solid white;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}
.view-our-services {
    position: relative;
    top: 7em;
    left: 50em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #b98d58;
    color: white;
    background-color: #b98d58;
    transition: 250ms;
}
.view-our-services:hover {
    color: #b98d58;
    background-color: transparent;
    border: 1px solid #b98d58;
}

.section-4 {
    background-color: white;
}

footer {
    margin-top: 200px;
    padding: 5em;
    background-color: #2b1a14;
}
.footer-row {
    display: flex;
    gap: 7rem;
}
.footer-column-2 a + p {
    text-decoration: none;
    color: #b98d58;
}